<%= form_with(url: incomes_path, html: { class: 'space-y-6' }) do |f| %>
  <div>
    <div class="mx-auto flex h-12 w-12 items-center justify-center rounded-full bg-green-100">
      <!-- Heroicon name: outline/check -->
      <svg class="h-6 w-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
      </svg>
    </div>
    <div class="mt-3 text-center sm:mt-5">
      <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title">Payment successful</h3>
      <div class="mt-2">
        <p class="text-sm text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius aliquam laudantium explicabo pariatur iste dolorem animi vitae error totam. At sapiente aliquam accusamus facere veritatis.</p>
      </div>
    </div>
  </div>
  <div class="mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
    <div>
      <%= f.label :value, class: "block text-sm font-medium text-gray-700" %>
      <div class="mt-1">
        <%= f.text_field :value, autofocus: true, class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
      </div>
    </div>

    <div>
      <%= f.label :description, class: "block text-sm font-medium text-gray-700" %>
      <div class="mt-1">
        <%= f.text_field :description, autofocus: true, class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
      </div>
    </div>

    <button type="button" class="inline-flex w-full justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:col-start-2 sm:text-sm">Cancel</button>
    <button type="submit" class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:col-start-1 sm:mt-0 sm:text-sm">Save</button>
  </div>

<% end %>
